<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-6 rounded shadow-md w-80">
    <h2 class="text-2xl font-bold text-center mb-4 text-blue-700">
      تسجيل الدخول
    </h2>
    <form (ngSubmit)="onLogin()">
      <input
        type="text"
        placeholder="البريد الإلكتروني"
        [(ngModel)]="email"
        name="email"
        class="w-full p-2 border border-gray-300 rounded mb-3"
      />
      <input
        type="password"
        placeholder="كلمة المرور"
        [(ngModel)]="password"
        name="password"
        class="w-full p-2 border border-gray-300 rounded mb-4"
      />
      <button
        type="submit"
        class="w-full bg-blue-600 hover:bg-blue-700 text-white p-2 rounded"
      >
        دخول
      </button>
    </form>
<p class="text-center mt-3 text-sm">
  ليس لديك حساب؟
  <a class="text-blue-600 underline" routerLink="/auth/register">
    إنشاء حساب جديد
  </a>
</p>

  </div>
</div>
